<% include ../includes/header.ejs %>

<head>
    <script src="/scripts/replacer/main.js"></script>
</head>

<body>
    <div class="container-fluid">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content rounded container-fluid row-fluid" role="main">
            <h1 class="primaryText">Replacer</h1>

            <h3>Input</h3>
            <textarea id="inputTextArea" cols="30" rows="10" 
            placeholder="Enter the text to be converted..."></textarea>

        </main>
    </div>

    <% include ../includes/footer.ejs %>
</body>

</html>