<div class="col tutorial rounded border">
    <a href="<%= url %>" class="text-white-50">
        <h4>
            <%= name %>
        </h4>
        <img src="<%= imageSrc %>" class="img-fluid">
        <p class="lead">
            <%= description %>
        </p>
    </a>
</div>