
div {
    padding: 5px;
    color: rgb(17, 3, 41);
    background-color: darkslateblue;
    border-radius: 5px;
    border-style: groove;
    border-color: darkslategrey;
}

input {
    padding: 2px;
    background-color: burlywood;
    border-style: groove;
    border-color: darkslategrey;
    border-radius: 5px;
}

button {
    padding: 2px;
    background-color: rgb(179, 141, 91);
    border-style: groove;
    border-color: darkslategrey;
    border-radius: 5px;
}

.display {
    position: absolute;
    left: 2.5%;
    width: 95%;
    height: 10%;
}

.start-hidden {
    visibility: hidden;
}

#game-view {
    position: absolute;
    top : 50%;
    left: 2.5%;
    width: 95%;
    height: 10%;
    border-style: groove;
    border-color: darkslategrey;
}

#speach {
    top: 40%;
}

#names {
    top: 60%;
}

#rejoin {
    visibility: hidden;
}