<% include includes/header.ejs %>

<body>
    <div class="container-fluid">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content rounded container-fluid" role="main">
            <h1 class="primaryText">About</h1>
            <h4 class="primaryText">About Me</h4>
            <p class="lead">
                I am Eyal Hazor, 30 years old from Israel. Love learning new things and making cool stuff.
                Most of the programming I know I learned from the internet.
                On my free time I also like to play the guitar and train in martial arts.
            </p>
            <h4 class="primaryText">About The Site</h4>
            <p class="lead">
                I made this site to share my games and tutorials.
                Some of the games were made with unity but 
                the newer ones were made with plane HTML and Javascript.
            </p>
            <h4 class="primaryText"">Contact Me</h4>
            <p class="lead">
                Email: <a href="mailto: wormiusgames@gmail.com">wormiusgames@gmail.com</a>
                <br>
                Discord: <a href="https://discord.gg/FGpQh9Z">https://discord.gg/FGpQh9Z</a>
            </p>
        </main>
    </div>

    <% include includes/footer.ejs %>
</body>

</html>