<%- include('includes/header.ejs') %>

<head>
    <script src="/scripts/about/main.js"></script>
</head>

<body>
    <div class="container-fluid">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content rounded container-fluid" role="main">
            <h1 class="primaryText">About</h1>
            <h4 class="primaryText">About Me</h4>
            <p class="lead">
                I am Eyal Hazor, <span id="ageSpan"></span> years old born in Israel, living in Germany. Love learning new things and making cool stuff.
                Most of the programming I know I learned from the internet.
                On my free time I also like bouldering.
            </p>
            <h4 class="primaryText">About The Site</h4>
            <p class="lead">
                I made this site to share my games and tutorials.
                Some of the games were made with unity and others 
                were made with plain HTML and Javascript.
            </p>
            <h4 class="primaryText"">Contact Me</h4>
            <p class="lead">
                Email: <a href="mailto: wormiusgames@gmail.com">wormiusgames@gmail.com</a>
                <br>
                Discord: <a href="https://discord.gg/FGpQh9Z">https://discord.gg/FGpQh9Z</a>
                <br>
                I am available for freelance work.
                <br>
                Upwork: <a href="https://www.upwork.com/freelancers/~0189b771a7b4b0b461">https://www.upwork.com/freelancers/~0189b771a7b4b0b461</a>
            </p>
        </main>
    </div>

    <%- include('includes/footer.ejs') %>
</body>

</html>