<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Arrowlings</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h3 id = "players-online">0</h3>
    <script src="/scripts/arrowlings/main.js"></script>
</body>
</html>