<%- include('includes/header.ejs') %>

<body>
    <div class="container-fluid">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content rounded container-fluid row-fluid" role="main">
            <div class="game-container">
                <iframe width="900" height="600" src="/games/bee-defence-st" frameborder="0"></iframe>
            </div>
            <p class="lead">
                This is a game I made for <a href="https://itch.io/jam/scorejam-8bti-arcade-controls">ScoreSpace jam</a>.
                The theme was swarm. The limitation was arcade style controls.
            </p>
        </main>       
    </div>

    <%- include('includes/footer.ejs') %>
</body>

</html>