<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Button Button Button</title>
    <link rel="stylesheet" href="/stylesheets/button-button-button/style.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h3 id = "players-online">0</h3>
    <h2>Your name</h2><input type="text" id="name-input">
    <button class="lobby" onclick="createRoom()">Create Room</button>
    <table id = "rooms-table"></table>
    <div id = "room-div">
        <h1 id = "round-number">round: 1</h1>
        <table id = "players-table">
            <tr name = "player1"><td class="player-score"></td></tr>
            <tr name = "player2"><td class="player-score"></td></tr>
            <tr name = "player3"><td class="player-score"></td></tr>
        </table>
        <div id = "podium">
            <div class = "player-podium">1st. Player1: 0</div>
            <div class = "player-podium">2nd. Player2: 0</div>
            <div class = "player-podium">3rd. Player3: 0</div>
            <br>
            <button onclick="returnToLobby()">Return To Lobby</button>
        </div>
        <p>Choose a button.
            By the end of the round it's value is split
            between all the players that chose it.
            First to reach <span id = "target-score">100</span> points wins.
        </p>
        <div id = "buttons-div">
            <button class = "game-button" onclick="select(0)">0</button>
            <button class = "game-button" onclick="select(1)">0</button>
            <button class = "game-button" onclick="select(2)">0</button>
        </div>
    </div>
    <script src="/scripts/button-button-button/main.js"></script>
    <script src="/scripts/button-button-button/room.js"></script>
</body>
</html>