
<head>
    <link rel="stylesheet" href="/stylesheets/canvas-land/style.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <canvas id = "gameCanvas"></canvas>
    <script src="/scripts/canvas-land/main.js"></script>
</body>