
<head>
    <title>Canvas Land</title>
    <link rel="stylesheet" href="/stylesheets/canvas-land/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145688783-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-145688783-1');
    </script>
</head>
<body>
    <canvas id = "gameCanvas"></canvas>
    <div id = "ui">
        <input type="color" id="colorPicker">
        <input type="range" id="sizePicker" min="1" max="100">
        <br><br>
        <a href="https://www.reddit.com/r/canvas_land/" target="_blank">
            <img src="https://www.vectorico.com/download/social_media/Reddit-Icon.png" alt="Reddit" height="35px">
        </a>
    </div>
    <script src="/scripts/canvas-land/main.js"></script>
</body>