<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/chess-ball/style.css">
    <link rel="shortcut icon" href="/images/chess-ball/ball.png" type="image/x-icon">
    <title>Chess Ball</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <table id = "layoutTable">
        <tr>
            <td>
                <canvas id = "boardCanvas"></canvas>
                <br>
                <h2>Board background by Clyde</h2>
            </td>
            <td>
                
                <h2 id = "resaltText"></h2>
                <div id = "movesDiv">
                    <table id = "movesTable"></table>
                </div>
                <br>
                <button id = "restartButton">Solo</button>
                <br>
                <button id = "flipBoardButton">Flip Board</button>
                <br>
                <button id = "multiplayerButton">Multiplayer</button>
                <h6 id = "playerCount"></h4>
                <p id = "infoText">
                    <h3>Chess Ball by Eyal Hazor</h3>
                    Win by either checkmating or kicking the ball to the opponents back rank.
                    Kick the ball by making a capture move to it.
                    The ball moves as the piece that kicks it to an empty square.
                    You can leave your king in check if you score a goal at the same move.
                </p>
            </td>
        </tr>
        <!--<tr>
            <td>
                <h2>Board background by Clyde</h2>
            </td>
        </tr>-->
    </table>
    <script src="/scripts/chess-ball/piece.js"></script>
    <script src="/scripts/chess-ball/images.js"></script>
    <script src="/scripts/chess-ball/canvas.js"></script>
    <script src="/scripts/chess-ball/position.js"></script>
    <script src="/scripts/chess-ball/multiplayer.js"></script>
    <script src="/scripts/chess-ball/info.js"></script>
    <script src="/scripts/chess-ball/main.js"></script>
</body>
</html>