<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/chess-ball/style.css">
    <link rel="shortcut icon" href="/images/chess-ball/ball.png" type="image/x-icon">
    <title>Chess Ball Editor</title>
    <script src="/socket.io/socket.io.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145688783-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-145688783-1');
    </script>
</head>
<body>
    <div id = "startPosition" class="data"><%= startPosition %></div>
    <table id = "layoutTable">
        <tr>
            <td>
                <canvas id = "boardCanvas"></canvas>
                <br>
                <input type="text" id="posLink" readonly>
                <button id = "copyPosLinkButton" class="copyButton">
                    <img src="/images/chess-ball/clipboard.png" alt="Copy link">
                </button>
            </td>
            <td>
                <canvas id = "piecesCanvas"></canvas>
            </td>
        </tr>
    </table>
    <script src="/scripts/chess-ball/util.js"></script> 
    <script src="/scripts/chess-ball/images.js"></script> 
    <script src="/scripts/chess-ball/piece.js"></script>
    <script src="/scripts/chess-ball/position.js"></script>
    <script src="/scripts/chess-ball/canvas.js"></script>
    <script src="/scripts/chess-ball/fen.js"></script>
    <script src="/scripts/chess-ball/premove.js"></script>
    <script src="/scripts/chess-ball/time-control.js"></script>
    <script src="/scripts/chess-ball/editor.js"></script>
</body>
</html>