<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/chess-ball/style.css">
    <link rel="shortcut icon" href="/images/chess-ball/ball.png" type="image/x-icon">
    <title>Chess Ball</title>
    <script src="/socket.io/socket.io.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145688783-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-145688783-1');
    </script>
</head>
<body>
    <div id = "matchId"><%= matchId %></div>
    <table id = "layoutTable">
        <tr>
            <td>
                <canvas id = "boardCanvas"></canvas>
                <br>
                <h2>Board background by Clyde</h2>
            </td>
            <td>
                <h2 id = "resaltText"></h2>
                <div id = "movesDiv">
                    <table id = "movesTable"></table>
                </div>
                <br>
                <button id = "flipBoardButton">Flip Board</button>
                <input type="text" id="nameField" placeholder="Name...">
                <div id = "matchInfoDiv">
                    <h3 id = "namesText"></h3>
                </div>
                <div id = "offlineUI">
                    <button id = "restartButton">Solo</button>
                    <br>
                    <button id = "randomMatchButton">Random Match</button>
                    <button id = "friendMatchButton">Play with a friend</button>
                    <br>
                    <div id = "matchLinkDiv">
                        Send this link to your friend<br>
                        <input type="text" id="matchLink" readonly>
                        <button id = "copyMatchLinkButton">
                            <img src="/images/chess-ball/clipboard.png" alt="Copy link">
                        </button>
                    </div>
                </div>
                <h6 id = "playerCount"></h4>
                <p id = "infoText">
                    <h3>Chess Ball by Eyal Hazor</h3>
                    Win by kicking the ball to the opponents back rank
                    or by checkmating (scoring a goal beats checkmate).
                    Kick the ball by making a capture move to it.
                    The ball moves as the piece that kicks it to an empty square.
                    You can leave your king in check (or mate) if you score a goal at the same move.
                </p>
            </td>
        </tr>
    </table>
    <script src="/scripts/chess-ball/piece.js"></script>
    <script src="/scripts/chess-ball/images.js"></script>
    <script src="/scripts/chess-ball/canvas.js"></script>
    <script src="/scripts/chess-ball/position.js"></script>
    <script src="/scripts/chess-ball/multiplayer.js"></script>
    <script src="/scripts/chess-ball/info.js"></script>
    <script src="/scripts/chess-ball/ai.js"></script>
    <script src="/scripts/chess-ball/cookie.js"></script>
    <script src="/scripts/chess-ball/main.js"></script>
</body>
</html>