<%- include('includes/header.ejs') %>

<body>
    <div class="container-fluid">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content rounded container-fluid" role="main">
            <h1 class="primaryText"><%= title %></h1>
            <p class="lead">
                This is a devlog for my game Really Bad Flying Machine.
                It is available now on Steam:
                <a href="https://store.steampowered.com/app/1354800/Really_Bad_Flying_Machine/">https://store.steampowered.com/app/1354800/Really_Bad_Flying_Machine/</a>
                <br>
                Also, the game was selected for <a href="https://gameskeys.net/handpicked-casual-games/">HandPicked Casual Games</a> on gamekeys.net.
                Check out the <a href="https://gameskeys.net/product/really-bad-flying-machine/">Game Listing</a> there.
            </p>
            <h4 class="primaryText">Ludum Dare Prototype</h1>
            <p class="lead">
                In December 1st 2018, a game jam (an event where people make games of a particular theme, 
                in a short limited time) on <a href="https://ldjam.com/">Ludum Dare</a> started.
                The theme of the jam was "Sacrifices must be made".
                I got the idea of having the player sacrefice the ability to move to a certain direction.
                So, I started making a prototype in unity. Submitted my game to the jam.
                <a href="https://ldjam.com/events/ludum-dare/43/really-bad-flying-machine">
                    <img src="/images/showoffs/rbfm_ld.png" alt="Really Bad Flying Machine">
                </a>
                Got some nice feedback. Thought about making a more full game out of it.
                But left it be for the time being.
            </p>
            <h4 class="primaryText">Starting the new project</h1>
            <p class="lead">
                ‎February 1st 2020, I created a new project in unity.
                The idea is to create a 3D version of the game this time.
                I started by making the object that were in the game using primitve mashes (cubes and spheres).
                I wanted to make the experience of the game consistant. 
                So, a little bit of collider adjuting was necessary.
                <a href="https://www.youtube.com/watch?v=CFkjlyHDayw">
                    <img src="/images/showoffs/rbfm_1.png" alt="Really Bad Flying Machine">
                </a>
            </p>
            <h4 class="primaryText">Pickups</h1>
            <p class="lead">
                March 25th 2020, added pickable propellers.
                These are bubbles with a propeller inside. If you touch the bubble while missing at least one propeller,
                you get the propeller and the bubble disappears. There could be different kinds of propellers in the pickup bubble.
                So far I made a propeller that keeps going after hitting boxes, 
                and a propeller that make you fly up instead of to the side.
                <img src="/images/showoffs/rbfm_2.gif" alt="Really Bad Flying Machine">
            </p>
            <h4 class="primaryText">Multiplayer</h1>
            <p class="lead">
                April 18th 2020, I have started working on multiplayer.
                I got the idea of adding game modes that are typical of first person shooters.
                The first mode I am going for is capture the flag. The flag being a propeller type.
                <img src="/images/showoffs/ctf_capture.gif" alt="Really Bad Flying Machine">
                If a player shoots at an enemy, the enemy losses propellers.
                If a player shoots at an ally, if the ally has a propeller missing, they get the propeller that was shot.
                I'm useing the udpClient to send bytes between the host and the client (One player hosts the game).
                Another thing I added is a type of propeller that drops and explodes on impact.
                <img src="/images/showoffs/ctf_boom.gif" alt="Really Bad Flying Machine">
            </p>
            <h4 class="primaryText">New Level System</h1>
            <p class="lead">
                May 7th 2020, I started structuring the game in a more cohesive manner.
                Up to this point, each level was given an index. You simply solve one and go to the next.
                Doesn't make for a very immersive experience. In the new system, There are floors.
                In each floor there is an elevator that require a certain amount of keys to open and move to the next floor.
                Each floor contains puzzle rooms. Each has 1 key. You won't necessarily have to get every key to progress.
                There are also gold keys that are extra tricky to get.
                I also added a character that twitch chat can control.
                If you want to play with me, join the stream at <a href="https://www.twitch.tv/wormius51">twitch.tv/wormius51</a>
            </p>
            <div class="iframe-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5MXAqrwisT4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
            </div>
            <br>
            <h4 class="primaryText">Steam Store Page</h1>
            <p class="lead">
                June 26th 2020, considering the game is almost complete, I decided to go ahead and set up a store page.
                The oneboarding process to steam was much simpler than I expected.
                The first step was to identifie in the steamworks site by giving my full name and legal information.
                It requires paying the submission fee and giving the bank details. Next, valve sent me an email requesting
                images of some identification document. Once I got that out of the way I got access to the steamworks dashboard.
                The next step was to upload my game build to steam for review. Steam has a very clear documentation reguarding uploading via the steam pipline.
                Next, uploaded screanshots, header, logo, description ect. After I had everything set up valve approved my game build and store page and I was able to publish it.
                <br>
                <a href="https://store.steampowered.com/app/1354800/Really_Bad_Flying_Machine/">
                <button>Wishlist On Steam</button></a>
            </p>
            <div class="iframe-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/gceZRQBT6HE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
            </div>
            <br>
            <h4 class="primaryText">Steam Release</h1>
            <p class="lead">
                July 27 2020, can you belive it? It is finally here! Months of hard work all come down to this.
                The day before was all about playing through the whole game, looking for the smallest mistakes.
                That took hours because the game has so much content that at this point it even takes me allmost
                an hour to complete. After each time I found something that's not right I fixed it and rebuilt.
                Then, played the whole thing from the start. Now it's time to sit back and watch helplessly.
                Made a new trailer for the release:
            <div class="iframe-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/n60PtMBgFig" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
            </div>
            </p>
    </div>

    <%- include('includes/footer.ejs') %>
</body>

</html>