<%- include('includes/header.ejs') %>

<body>
    <div class="container-fluid">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content rounded container-fluid row-fluid" role="main">
            <h1 class="primaryText">Welcome</h1>
            <p class="lead">
                This is a site where you can play my games and learn how to make your own.
            </p>
            <p class="lead">
                Feel free to look around using the navigation bar.
            </p>
            <p class="lead">
                My games are mainly puzzle and strategy.<br>
                Anything that makes your brain work.
            </p>
            <p class="lead">
                Toggle Tile demo is now available on Steam!<br>
                <a href="https://store.steampowered.com/app/3165730/Toggle_Tile_Demo/">
                    <button>Play On Steam</button>
                </a>
            </p>
            
            <div class="iframe-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VeQh65AV3es?si=MQDEnFa9_82Fp63U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
            </div>
        </main>
    </div>

    <%- include('includes/footer.ejs') %>
</body>

</html>