<%- include('includes/header.ejs') %>
<body>
    <p>This is a site for my games.</p>
    <br>
    <div class = "game-link">
        <a href="/oneDheros">oneDheros</a>
    </div>
    <br>
    <div class = "game-link">
        <a href="/food-chain-game">Food Chain Game</a>
    </div>
    <br>
    <div class = "game-link">
        <a href="/button-button-button">Button Button Button</a>
    </div>
    <%- include('includes/footer.ejs') %>
</body>
</html>