<% include includes/header.ejs %>

<body>
    <div class="container-fluid">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content rounded container-fluid row-fluid" role="main">
            <div class="game-container">
                <iframe width="900" height="600" src="/games/jump-dash-st" frameborder="0"></iframe> 
            </div>
            <p class="lead">
                Current world record stands on 0:48 (Not by me). Congratulations Kyron:
            </p>
            <div class="iframe-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/vYMvVi9e60A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
            </div>
        </main>
    </div>

    <% include includes/footer.ejs %>
</body>

</html>