<% include includes/header.ejs %>

<head>
    <link rel="stylesheet" href="/stylesheets/includes/mobile.css">
</head>

<body>
    <iframe id = "game-screen" width="900" height="600" src="/games/jump-dash-st" frameborder="0"></iframe>
</body>

</html>