<% include includes/header.ejs %>

<body>
    <div class="container-fluid">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content rounded container-fluid row-fluid" role="main">
            <a href="/games/jump-dash-fullscreen"><h1>Play full screen</h1></a>

            <div class="game-container">
                <iframe width="900" height="600" src="/games/jump-dash-st" frameborder="0"></iframe> 
            </div>

            <p class="lead">
                Kyrone out done himself this time and set a new record for version 0.0.0.0 .
                41 seconds and no deaths! Great job!
            </p>
            <div class="iframe-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/1nBB5pH-ZQ4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
            </div>
        </main>
    </div>

    <% include includes/footer.ejs %>
</body>

</html>