<!DOCTYPE html>
<html lang="en" onkeydown = 'keydown();' onkeyup = 'keyup();'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>oneDheros</title>
    <link rel="stylesheet" href="/stylesheets/oneDheros/style.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div id = "ui">
        <button id = "mute" onclick="toggleMute()">🔊</button>
        <h3 id = "my-position">My Position : 0</h3>
        <h3 id = "upgrade-points">Upgrade Points : 0</h3>
        <input type="text" id="name" placeholder="Your name..">
        <button id = "nameButton" onclick="changeName()">Change Name</button>
        <button id = "rejoin" onclick="rejoin()">Rejoin</button>
        <br>
        <input type="text" id = "message" placeholder="Your message..">
        <div id = "upgrade" class = "ability-list">
            <button onclick="upgrade('speedUp')">Speed Up (1)</button>
            <button onclick="upgrade('hpUp')">Hp Up (1)</button>
            <button onclick="upgrade('dashLeft')" class = "start-visible" name = "dashLeft">Dash Left (10)</button>
            <button onclick="upgrade('dashRight')" class = "start-visible" name = "dashRight">Dash Right (10)</button>
            <button onclick="upgrade('sparkLeft')" class = "start-visible" name = "sparkLeft">Spark Left (5)</button>
            <button onclick="upgrade('sparkRight')" class = "start-visible" name = "sparkRight">Spark Right (5)</button>
        </div>
        <div id = "abilities" class = "ability-list">
            <button onclick="useAbility('dashLeft')" class="start-hidden" name = "dashLeft">Dash Left</button>
            <button onclick="useAbility('dashRight')" class="start-hidden" name = "dashRight">Dash Right</button>
            <button onclick="useAbility('punchLeft')">Punch Left</button>
            <button onclick="useAbility('punchRight')">Punch Right</button>
            <button onclick="useAbility('sparkLeft')" class = "start-hidden" name = "sparkLeft">Spark Left (1)</button>
            <button onclick="useAbility('sparkRight')" class = "start-hidden" name = "sparkRight">Spark Right (1)</button>
        </div>
    </div>
    
    <canvas id = "speach" class = "display" width="1000" height="50"></canvas>
    <canvas id = "game-view" width="1000" height="1000"></canvas>
    <canvas id = "names" class = "display" width="1000" height="50"></canvas>
    <script src="/scripts/oneDheros/gameObject.js"></script>
    <script src="/scripts/oneDheros/main.js"></script>
    <script src="/scripts/oneDheros/upgrade.js"></script>
</body>
</html>