<%- include('includes/header.ejs') %>

<body>
    <div class="container-fluid">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content rounded container-fluid row-fluid" role="main">
            <h4 class="primaryText">This is a demo for my game Really Bad Flying Machine</h1>
            <p class="lead">
                The full game will be lunched on <a href="https://store.steampowered.com/app/1354800/Really_Bad_Flying_Machine/">steam</a>.
            </p>
            <div class="game-container">
                <iframe width="900" height="600" src="/games/really-bad-flying-machine-demo-st" frameborder="0"></iframe>
            </div>

            <p class="lead">
                The store page for Really Bad Flying Machine is now live!<br>
                <a href="https://store.steampowered.com/app/1354800/Really_Bad_Flying_Machine/">
                <button>Wishlist On Steam</button></a>
            </p>
        </main>
    </div>

    <%- include('includes/footer.ejs') %>
</body>

</html>