<% include includes/header.ejs %>

<body>
    <div class="container-fluid">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content rounded container-fluid row-fluid" role="main">

            <div class="game-container">
                <iframe width="900" height="600" src="/games/really-bad-flying-machine-demo-st" frameborder="0"></iframe>
            </div>

            <p class="lead">
                The store page for Really Bad Flying Machine is now live!<br>
                <a href="https://store.steampowered.com/app/1354800/Really_Bad_Flying_Machine/">
                <button>Wishlist On Steam</button></a>
            </p>
        </main>
    </div>

    <% include includes/footer.ejs %>
</body>

</html>