<%- include('includes/header.ejs') %>

<body>
    <div class="container-fluid">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content rounded container-fluid" role="main">
            <h1 class="primaryText">Tutorials</h1>
            <div class="container">
                <div class="row">
                    <% tutorials.forEach( tutorial => { %>
                    <%- include('includes/tutorial.ejs', tutorial) %>
                    <% }) %>
                </div>
            </div>
        </main>
    </div>

    <%- include('includes/footer.ejs') %>
</body>

</html>