<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tha Wheel</title>
    <link rel="stylesheet" href="/stylesheets/wheel/style.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div id = 'wheelOwnerId'><%= wheelOwnerId %></div>
    <h2 id = 'title'></h2>
    <h1 id = 'question'></h1>
    <h1 id = 'answer'></h1>
    <h1 id = 'youSelected'>You got selected!</h1>
    <input type="text" id="nameField">
    <br>
    <input type="text" id="messageField">
    <div id = "cooldownDiv">
        <h3>Player Cooldown: </h3>
        <input type="range" id="cooldownInput" min="0" max="10">
        <br>
        <h2>Click the wheel<br>to spin.</h2>
    </div>
    <div id = 'colorDiv'>
        <h3>Color: </h3>
        <input type="color" id="colorInput">
    </div>
    <br>
    <canvas id = "wheelCanvas"></canvas>

    <script src="/scripts/wheel/main.js"></script>
    <script src="/scripts/wheel/player.js"></script>
    <script src="/scripts/wheel/wheel.js"></script>
</body>
</html>