body {
    font-size: x-large;
    background-color: white;
}

#boardCanvas {
    background-color: white;
    border-color: rgb(37, 10, 122);
    border-style: solid;
}

#movesDiv {
    background-color: bisque;
    width: 200px;
    height: 100px;
    overflow-y: scroll;
    border-color: rgb(37, 10, 122);
    border-style: solid;
}

#layoutTable tr td {
    vertical-align: top;
}

.moveSpan {
    border-style: groove;
    border-color: chocolate;
    background-color: darkkhaki;
}