<% include ../includes/header.ejs %>

<body>
    <div class="container-fluid">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content rounded container-fluid row-fluid" role="main">
            <h1 class="primaryText">Making A Game With HTML</h1>

        </main>
    </div>

    <% include ../includes/footer.ejs %>
</body>

</html>