<% include ../includes/header.ejs %>

<body>
    <div class="container-fluid">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content rounded container-fluid row-fluid" role="main">
            <h1 class="primaryText">Making A Multiplayer Canvas With Node.js</h1>
            <h4 class="primaryText">Introduction</h4>
            <p class="lead">
                In this tutorial we will be making first a web page with a canvas
                on which you can draw. After that we will setup server with Node.js
                in order to let players communicate. To see this in action visit <a href="/canvas-land">Canvas Land</a>.
            </p>
            <h4 class="primaryText">Setting Up The Project</h4>
            <p class="lead">
                First thing, if you don't have npm (node package manager) you need
                to download it.
            </p>
        </main>
    </div>

    <% include ../includes/footer.ejs %>
</body>

</html>