#body-table {
    position: absolute;
    top: 0px;
    left: 0px;
}


#board {
    height: 50vh;
    aspect-ratio: 1;
}

#board tr td {
    text-align: center;
    font-size: 10vh;
    border-radius: 1vh;
}

.move {
    background-color: darkgreen;
}

.losing-move {
    background-color: darkred;
}

#state-text {
    font-size: 6vh;
}

#rules-text {
    font-size: 3vh;
}

#restart-button {
    font-size: 6vh;
}

#past-positions {
    overflow-y: scroll;
    height: 50vh;
    aspect-ratio: 0.4;
    background-color: burlywood;
    font-size: 4vh;
    text-align: center;
}