<% include ../includes/header.ejs %>

<head>
    <link rel="stylesheet" href="/stylesheets/post-editor/style.css">
</head>

<body>
    <div class="container-fluid">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content rounded container-fluid" role="main">
        <h1 class="primaryText editable" name = "title">Example</h1>
        <h1 class="primaryText editable" name = "title">Example2</h1>
        <script src="/scripts/post-editor/main.js"></script>
        </main>
    </div>
    <% include ../includes/footer.ejs %>
</body>

</html>