<% include ../includes/header.ejs %>

<body>
    <div class="container-fluid">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content rounded container-fluid" role="main">
        <form action="./post/create" method="post">
            <button type="submit">Create Post</button>
        </form>
        </main>
    </div>
    <% include ../includes/footer.ejs %>
</body>

</html>