body {
    background-color: rgb(221, 221, 231);
}

#icon {
    border-radius: 100%;
    height: 100%;
}

.header {
    background-color: darkslategrey;
}

.primaryText {
    color: rgb(96, 38, 151);
}

.gameLink {
    background-color: darkslategrey;
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    min-width: 300px;
}

.tutorial {
    background-color: rgb(47, 48, 79);
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    min-width: 300px;
}

main {
    background-color: rgba(250, 235, 215, 0.753);
}

body::after {
    content: "";
    background: url("/images/showoffs/background.png");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}

.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.itch-container{
    position: relative;
    width: 100%;
    padding-bottom: 18%; 
    height: 0;
}

.itch-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.game-container{
    position: relative;
    width: 100%;
    padding-bottom: 70%; 
    height: 0;
    overflow: hidden;   
}

.game-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

code script{
    background-color: black;
    color: white;
    display: block;
}

pre {
    background-color: black;
    color: white;
    display: block;
    overflow-x: auto;
}