
textarea {
    width: 95%;
}

.data {
    display: none;
}

#saveButton {
    background-color: darkorange;
}

#publishButton {
    background-color: forestgreen;
}

#deleteButton {
    background-color: brown;
}

#postDiv {
    display: none;
}