<% include ../includes/header.ejs %>

<head>
    <link rel="stylesheet" href="/stylesheets/post-editor/style.css">
</head>

<body>
    <div id = "postId" class="data"><%= postId %></div>
    <div class="container-fluid">
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content rounded container-fluid" role="main">
        <div id = "postDiv">
            <%- content %>
        </div>
        </main>
    </div>
    <% include ../includes/footer.ejs %>
</body>

</html>