<div class="col gameLink rounded border">
    <a href="./blog/post?id=<%= id %>" class="text-white-50">
        <h4>
            <%= title %>
        </h4>
        <img src="<%= coverimage %>" class="img-fluid">
        <p class="lead">
            <%- preview %>
        </p>
    </a>
</div>